.bio_p {
	font-size: var(--main-font-size);
	line-height: var(--main-line-height);
	color: var(--main-text-color);
	font-weight: var(--main-font-weight);
	margin: 0;
}

.section {
	overflow: hidden;
	transition: max-height 0.6s;
	max-height: 0;
}
.section.show {
	height: auto;
}

.section_text {
	transition: transform 0.6s;
	transform: translate3d(0%, -100%, 0);
}
.section_text.show_text {
	transform: translate3d(0%, 0, 0);
}
