.bio_p {
	font-size: var(--main-font-size);
	line-height: var(--main-line-height);
	color: var(--main-text-color);
	font-weight: var(--main-font-weight);
	margin: 0;
}

.section {
	overflow: hidden;
	-webkit-transition: max-height 0.3s, box-shadow 0.3s;
	transition: max-height 0.3s, box-shadow 0.3s;
	box-shadow: inset 0px 0px 0px 0px #b3b3b3;
	max-height: 0;
	background: #f3f3f3;
}
.section.show {
	box-shadow: inset 0px 5px 10px -5px #b3b3b3;
	height: auto;
}

.section_text {
	transition: -webkit-transform 0.2s;
	-webkit-transition: -webkit-transform 0.2s;
	transform: translate3d(0%, -100%, 0);
	-webkit-transform: translate3d(0%, -100%, 0);
	padding: 40px 10vmin;
	display: flex;
	flex-direction: row;
}
.section_text.show_text {
	-webkit-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}
.mobile_only {
	display: none;
}
.desktop_only {
	width: 100%;
}

.bio_close_button {
	position: absolute;
	right: 0;
	padding: 25px;
	color: var(--main-color-red);
	z-index: 5;
	cursor: pointer;
	font-size: 1.5em;
}

@media only screen and (max-width: 414px) {
	.section_text {
		display: block;
	}
	.mobile_only {
		float: right;
		display: block;
	}
	.desktop_only {
		display: none;
	}
}

@media (prefers-color-scheme: dark) {
	.section {
		background: #3f3f3f;
	}
	.section.show {
		box-shadow: inset 0px 5px 10px -5px #838383;
	}
}
