.center_map_iframe {
	position: relative;
	width: 100%;
	height: 60%;
}

.mp_container {
	margin-top: 25px;
	display: flex;
	align-items: flex-end;
}

.mp_img_container {
	width: 80%;
	margin-left: 5px;
}
/* delete for parallax */
.center_img img {
	top: -15%;
	position: absolute;
}

@media only screen and (max-width: 414px) {
	/* .center_map {
		height: 400px;
	} */
	.center_map_iframe {
		height: 300px;
	}

	.center_img img {
		height: 100%;
		width: auto;
		left: -22% !important;
		top: 0;
	}

	.mp_container {
		margin: 15px 0 0;
		display: flex;
	}

	.mp_img_container {
		align-self: flex-end;
		width: 80%;
		margin: 0 0 0 15px;
	}
}
