.center_map_iframe {
	position: relative;
	width: 100%;
	height: 80%;
}

.mp_container {
	margin-top: 35px;
	display: flex;
	align-items: flex-end;
}

.mp_img_container {
	width: 55%;
	margin-right: 25px;
}
/* delete for parallax */
.center_img img {
	top: -15%;
	position: absolute;
}

@media only screen and (max-width: 414px) {
	.center_map {
		height: 400px;
	}

	.center_img img {
		height: 100%;
		width: auto;
		left: -22% !important;
		top: 0;
	}

	.mp_container {
		margin: 25px 0;
		display: flex;
		flex-direction: row-reverse;
	}

	.mp_img_container {
		align-self: flex-end;
		width: auto;
		margin: 0 0 0 15px;
	}
}
