.title_style {
	padding: 0 0 5px;
	font-size: 3vmax;
	font-weight: 200;
	margin: 0;
	color: var(--main-text-color);
}
.subtitle_style {
	font-size: 1.5vmax;
	margin: 0 0 15px;
	color: var(--main-color-red);
}
.info_style {
	font-size: 1.2vmax;
	color: #4e4e4e;
	margin: 10px 0 0 0;
}
.date_time_style {
	font-size: 1.3vmax;
	margin: 0;
	text-transform: uppercase;
	color: var(--main-text-color);
}

.day {
	margin: 0 0 15px 0;
}

.lecture_name_style {
	font-size: 1.8vmax;
	line-height: 2.2vmax;
	margin: 0;
	color: var(--main-text-color);
}
.myButton {
	width: 100%;
	background-color: white;
	border: 1px solid var(--main-color-red);
	display: inline-block;
	cursor: pointer;
	color: #636363;
	font-size: 1.3vmax;
	font-weight: 500;
	padding: 16px 0;
	text-align: center;
	text-decoration: none;
	transition: 0.3s;
	opacity: 0.8;
}

a.myButton {
	margin: 0 !important;
}

.myButton:hover {
	opacity: 1;
	background-color: #e4e4e4;
}
.myButton:active {
	position: relative;
	top: 1px;
}

.daily_button {
	padding-top: 15px;
}

.link_add {
	border-bottom: 1px solid;
	cursor: pointer;
}
.link_add:hover {
	color: var(--main-text-color);
}

.program {
	display: flex;
	justify-content: flex-start;
}

.program_about {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30%;
	padding: 0 45px 0 0;
	flex-basis: 0;
	flex-grow: 1;
}

.program_about_wide {
	margin-bottom: 35px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.program_daily {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex-basis: 0;
	flex-grow: 1;
}

.add_padding {
	padding: 0 25px 0 0;
}

.program_event {
	/* width: 35%; */
	padding: 0 0 0 25px;
	display: flex;
	flex-direction: column;
	border-left: solid 1px #797979;
	flex-basis: 0;
	flex-grow: 1;
}

.program > .program_event {
	padding: 0 25px 0 25px;
}

.program > .program_event ~ .program_event {
	padding: 0 0 0 25px;
}

.no_bio_container {
	padding: 0 10vmin 25px;
	z-index: 1;
	position: relative;
	background: white;
}

.program_container {
	font-weight: 300;
	margin: 0 -10vmin 0;
}

.ruler_style {
	margin: 30px 0 20px;
	/* border: 1px solid var(--main-text-color); */
	border: none;
	height: 1px;
	background-color: var(--main-text-color);
}

.major_container {
	display: flex;
	justify-content: space-between;
}

.program_major {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 30px 0 0;
	flex-grow: 1;
	flex-basis: 0;
	padding: 15px;
	border: solid 1px #797979;
	position: relative;
	overflow: hidden;
}
.program_major:first-child {
	width: 30%;
	margin-right: 45px;
}

.single {
	margin-right: 0px !important;
	padding-right: 0px !important;
}

.with_ribbon_sub {
	height: auto;
	line-height: normal;
}

.token {
	background-color: var(--main-color-red);
	color: white;
	font-size: 0.7em;
	padding: 0 5px;
	margin-right: 10px;
	font-weight: 500;
	vertical-align: middle;
}

.major_event_text {
	vertical-align: middle;
}

@media only screen and (max-width: 414px) {
	.program {
		flex-direction: column;
		display: block;
	}
	.program_about {
		width: 100%;
		padding: 0;
	}
	.program_about_wide {
		margin-bottom: 0;
	}
	.program_daily {
		flex-basis: auto;
		width: auto;
		padding: 15px;
		border: solid 1px #797979;
		margin-top: 25px;
	}
	.program_event {
		width: auto;
		padding: 15px;
		border: solid 1px #797979;
		margin-top: 25px;
		flex-basis: auto;
	}
	.program > .program_event {
		padding: 15px;
	}
	.program > .program_event ~ .program_event {
		padding: 15px;
	}
	.no_bio_container {
		padding: 0 7vmin 25px;
	}
	.program_container {
		margin: 0 -7vmin 0;
	}
	.date_time_style {
		font-size: 1.6vmax;
		line-height: 2vmax;
	}
	.lecture_name_style {
		font-size: 2.1vmax;
		line-height: 2.5vmax;
	}
	.myButton {
		margin-top: 15px;
		font-size: 1.8vmax;
	}
	.major_container {
		flex-direction: column;
	}
	.program_major {
		width: auto;
		flex-basis: auto !important;
	}
	.program_major:first-child {
		width: auto;
		margin-right: 0;
		flex-basis: auto !important;
	}

	.single {
		padding-right: 25px !important;
	}
}

@media (prefers-color-scheme: dark) {
	.no_bio_container {
		background: #272727;
	}
	.myButton {
		background-color: transparent;
		color: white;
	}
	.myButton:hover {
		color: #949494;
		background-color: #4c4c4c;
	}
	.token {
		color: var(--main-text-color);
	}
}
