.fadein {
	position: relative;
	top: 77px;
	left: 0;
	margin: 0 0 127px;
	overflow: hidden;
}
.fadein div {
	width: 100%;
	height: 100%;
	/* display: flex; */
	position: absolute;
	/* left: 0;
	top: 0; */
	-webkit-animation-name: fade;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-duration: 9s;
	animation-name: fade;
	animation-iteration-count: infinite;
	animation-duration: 18s;
}

.fadein img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.slide_caption {
	font-weight: 100;
	font-size: 2vmax;
	top: 52vmax;
	right: 5vmin;
	position: absolute;
	margin: 0;
}

.karmapa_caption {
	color: white;
}

.ole_caption {
	color: black;
}

@-webkit-keyframes fade {
	0% {
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	33% {
		opacity: 1;
	}
	53% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
@keyframes fade {
	0% {
		transform: scale(1);
		opacity: 0;
	}
	20% {
		opacity: 1;
	}
	33% {
		opacity: 1;
	}
	53% {
		opacity: 0;
	}
	100% {
		transform: scale(1.05);
		opacity: 0;
	}
}

#f1 {
}
#f2 {
	-webkit-animation-delay: -12s;
}
#f3 {
	-webkit-animation-delay: -6s;
}

@media only screen and (max-width: 414px) {
	.fadein {
		top: 0;
		margin: 0;
	}
	.img_karmapa {
		object-position: 85%;
	}
	.img_buddha {
		object-position: 33%;
	}
	.slide_caption {
		top: 60vmax;
		right: 7vmin;
		font-weight: 300;
	}
}
