.teachers {
	display: flex;
	flex-wrap: wrap;
	/* flex-direction: row;
	width: 100%;
	margin-bottom: 35px;
	justify-content: space-between; */
}

.teacher {
	display: flex;
	flex: 1 0 35%;
	margin: 0 0 25px 0;
}

.teacher:nth-child(odd) {
	margin-right: 30px;
}

.teacher_description {
	margin: 10px 0 0 0 !important;
	font-weight: 300;
	white-space: pre-wrap;
}

.teacher_name {
	font-size: 1.5vmax;
	color: var(--main-color-red);
	font-weight: 500;
}

.teacher_image_container {
	width: 35%;
	margin-right: 15px;
}

.teacher_description_container {
	width: 65%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media only screen and (max-width: 414px) {
	.teachers {
		flex-direction: column;
		margin-bottom: 0;
	}
	.teacher:nth-child(odd) {
		margin-right: 0;
	}
	.teacher_description {
		margin: 10px 0 0 !important;
	}
	.teacher {
		margin-bottom: 25px;
	}
	.teacher_homepage {
		font-size: 1.3vmax;
	}
}
